div {
    margin: auto;
    text-align: center;
  }
  
  img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    transition: transform 0.2s ease;
  }
  
  img:hover {
    transform: scale(1.1);
  }
  